body {
  font-family:'Noto Sans TC', sans-serif;
}

/*844底版*/
.product_pg_box_all {
  margin-top: 0px;
  margin-bottom: 20px;
  width:844px;
}

.nav-link {
  letter-spacing:1px;
  font-weight: 400;
}

/* 漢堡選單op */
/*漢堡選單logo*/
.product_pg_top_logo {
  max-width: 60px;
  margin: 0 0 0 0 ;
}

.bd-navbar {
  border-radius: 0px;
  min-height: 4rem;
  background-color: #ffffff;
  box-shadow: 0 0.5rem 1.5rem rgba(0,0,0,.05), inset 0 -1px 0 rgba(0,0,0,.1);
}

.bd-navbar .navbar-nav .nav-link {
  padding-right: .5rem;
  padding-left: .5rem;
  color: #614b4b;
}

.navbar {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.5;
}

.carousel-indicators {
  width: 100%;
  margin: 0;
  padding: 0px 0px 5px 0px ;
}

.carousel-indicators li {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border-width: 0px;
  color: #522F35;
  background-color: #522F35;
  margin: 0px 2px;
}

.carousel-indicators .active {
  width: 12px;
  height: 12px;
  border-radius: 100%;
  border-width: 0px;
  color: #522F35;
  background-color: #522F35;
  margin: 0px 2px;
}
/* 漢堡選單ed */

.product_pg_all {
  color:#ffffff;
  margin-top:265px;
}

.pink_bottom {
  background-image:url(../images/bg.jpg);
}

.logo_margin {
  margin-top: -265px;
}

/*上方logo*/
.product_pg_logo {
  max-width: 130px;
  margin-bottom: 10px;
}

/*登入頁*/
.sign_bg_01 {
  color:#ffffff;
  background-color:#522F35;
  border-radius:30px 30px 0px 0px;
}

.sign_bg_02 {
  background-color:#ffffff;
  border-width: 0px 5px 5px 5px;
  border-color:#522F35;
  border-style: solid;
  border-radius: 0px 0px 30px 30px;
}

.sign_bg_03 {
  background-color:#522F35;
  border-width: 5px 5px 5px 5px;
  border-color:#522F35;
  border-style: solid;
  border-radius: 0px 14px 14px 14px;
}

.sign_bg_04 {
  background-color:#ffffff;
  border-radius: 0px 10px 10px 10px;
}

.sign_button_1 {
  background-color:#522F35;
  border-width: 5px 5px 5px 5px;
  border-color:#522F35;
  border-style: solid;
  border-radius:14px;
  padding-bottom: 10px;
}

.sign_button_1:hover {
  border-width: 10px 5px 0px 5px;
}

.sign_button_11 {
  background-color:#522F35;
  border-width: 5px 0px 5px 5px;
  border-color:#522F35;
  border-style: solid;
  border-radius:14px 0px 0px 14px;
  padding-bottom: 10px;
}

.sign_button_11:hover {
  border-width: 10px 0px 0px 5px;
}

.sign_contact_button_11 {
  font-size: 30px;
  font-weight: 500;
  color:#ffffff;
  height: 50px;
  border-radius: 10px 0px 0px 10px;
}

.sign_button_12 {
  background-color:#522F35;
  border-width: 5px 5px 5px 0px;
  border-color:#522F35;
  border-style: solid;
  border-radius:0px 14px 14px 0px;
  padding-bottom: 10px;
}

.sign_button_12:hover {
  border-width: 10px 5px 0px 0px;
}

.sign_contact_button_12 {
  font-size: 30px;
  font-weight: 500;
  color:#ffffff;
  height: 50px;
  margin: 0px;
  border-radius: 0px 10px 10px 0px;
}

.sign_contact_button {
  font-size: 30px;
  font-weight: 500;
  color:#ffffff;
  border-radius: 10px;
}

.sign_button {
  color:#ffffff;
  height:60px;
  border-radius: 10px;
}

.sign_phome_cc_button {
  color:#ffffff;
  height:45px;
  border-radius: 10px;
}

.sign_content_bg {
  color:#522F35;
  font-size: 16px;
}

.height_200 {
  min-height: 200px;
}

.svg_14 {
  min-height: 80px;
  min-width: 100px;
  margin: 0px 0px 0px 0px;
}

.svg_18 {
  min-height: 70px;
  min-width: 100px;
  margin: 5px 0px 5px 15px;
}

.sign_title_1 {
  margin-top: 65px;
}

.sign_title_2 {
  margin: -65px 15px 0px 15px;
  padding-left: 0px;
  padding-right: 0px;
}


/*選品頁*/

/*選品頁banner*/
.product_banner_bg {
  border-radius:30px;
  background-color:#522F35;
  border-color:#522F35;
  border-width:5px;
  border-style:solid; color:#522F35;
}

.product_bg522F35 {
  background-color: #522F35 ;
  border-radius: 30px ;
  padding-bottom: 14px ;
}

.product_all_content {
  border-radius:30px;
  background-color:#ffffff;
  border-color:#522F35;
  border-width:5px;
  border-style:solid; color:#ffffff;
}

.product_txt {
  color:#522F35;
  font-size: 16px;
  padding: 18px;
}

.product_botton {
  border-width: 4px 0px 5px 0px;
  border-color:#522F35;
  border-style: solid;
  border-radius:0px 0px 10px 10px;
}

.product_botton:hover {
  border-width: 9px 0px 0px 0px;
  border-color:#522F35;
  border-style: solid;
  border-radius:0px 0px 10px 10px;
}

/*選品BOX底*/
.product_pg_title {
  color:#ffffff;
  background-color:#522F35;
  border-radius:12px;
  padding-bottom: 10px;
  margin-bottom: 4px;
}

/*選品BOX標題*/
.product_pg_title_h2 {
  line-height:45px;
  letter-spacing:1px;
  font-weight: 400;
  margin-bottom:0px;
}

/*選品BOX內容底圖*/
.box_bg_xl_02 {
  background-repeat:repeat-y;
  background-image:url(../images/product_pg/box_bg_xl_02.svg);
  padding:0px 15px 0px 15px;
}

/*選品BOX下方資訊*/
.box_text_bg_01 {
  border-radius:20px;
  background-color:#522F35;
  height:43px;
  margin-bottom: 4px;
}

/*選品BOX下方資訊*/
.box_text_bg_02 {
  border-radius:20px;
  background-color:#75595D;
  border-color:#522F35;
  border-width:5px;
  border-style:solid; color:#ffffff;
  font-size: 12pt;
}


/*商品頁*/

/*商品BOX底*/
.product_box_pg_title {
  border-radius:12px;
  color:#ffffff;
  padding-bottom: 14px;

}

/*商品BOX標題底*/
.product_box_bg_01 {
  border-radius:30px 30px 0px 0px;
  background-color:#dc4146;
  border-color:#522F35;
  border-width:5px;
  border-style:solid; color:#ffffff;
}

/*商品BOX資訊底*/
.product_box_bg_02 {
  background-color:#ffffff;
  border-color:#522F35;
  border-radius:0px 0px 30px 30px;
  border-width:0px 5px 5px 5px;
  border-style:solid; color:#ffffff;
  padding:0px 15px 0px 15px;
}

/*商品BOX內容文字底*/
.product_box_pg_content_1 {
  background-color:#fff;
  border-width: 5px;
  border-color:#522F35;
  border-style: solid;
  border-radius:14px;
}

/*商品BOX內容文字*/
.product_box_txt {
  color:#522F35;
  font-size: 16px;
  padding: 18px 18px 0px 18px;
}

.product_box_txt p {
  text-align: left;
}

.product_box_txt dt {
  text-align: left;
}

.product_box_txt dd {
  text-align: left;
}

.product_box_txt_h {
  color:#616a72;
  font-size: 15px;
  text-indent:5px;
  display: inline-block;
  margin-right: 5px;
  height: 32px;
}

.product_box_pg_content_2 {
  background-color:#ccc;
  color:#522F35;
  border-radius:20px 20px 0px 0px;
  padding-bottom: 14px;
}

.tab_border {
  border-radius:20px 20px 0px 0px;
}

.bg522F35 {
  background-color:#522F35;
  border-radius:0px 14px 14px 14px;
  padding-bottom: 14px;
}

.bg522F35_big {
  background-color:#522F35;
  border-radius:30px;
  padding-bottom: 14px;
}

.product_box_pg_title_h1 {
  line-height:65px;
  margin-bottom:0px;
}

.product_box_bg_800 {
  margin-top: 0px;
  margin-bottom: 20px;
  width:800px;
}

.product_box_bg_600 {
  margin-top: 20px;
  margin-bottom: 30px;
  max-width: 600px;
  max-height: 600px;
  border-width: 5px;
  border-color:#522F35;
  border-style: solid;
}

.not_s_tbs{
  background-color: #7d6367;
}

.product_box_bg_button {
  background-color:#522F35;
  border-width: 0px 5px 5px 5px;
  border-color:#522F35;
  border-style: solid;
  border-radius:0px 0px 14px 14px;
  padding-bottom: 10px;
}

.product_box_bg_button:hover {
  border-width: 5px 5px 0px 5px;
}

.total_red {
  color: #dc4146;
}


/*訂單頁*/

.order_all_content {
  border-radius:30px;
  background-color:#ffffff;
  border-color:#522F35;
  border-width:5px;
  border-style:solid; color:#ffffff;
}

/*商品資訊底*/
.order_content {
  background-color:#ffffff;
  border-width: 5px;
  border-color:#522F35;
  border-style: solid;
  border-radius:14px;
}

/*新增商品底*/
.order_newcommodity {
  background-color:#343a40;
  border-width: 5px;
  border-color:#522F35;
  border-style: solid;
  border-radius:14px;
}

.order_newcommodity:hover {
  border-width: 10px 5px 0px 5px;
}

.order_bg522F35 {
  background-color: #522F35;
  border-radius: 0px 30px 30px 30px;
  padding-bottom: 14px;
}

.bg522F35_content {
  background-color:#522F35;
  border-radius:14px;
  padding: 0px 0px 14px 0px;
}

.line_height_30 {
  line-height: 32px;
}

.order_button {
  background-color:#522F35;
  border-width: 0px 5px 5px 5px;
  border-color:#522F35;
  border-style: solid;
  border-radius:0px 0px 14px 14px;
  padding-bottom: 10px;
}

.order_button:hover {
  border-width: 5px 5px 0px 5px;
}

.order_on_off {
  padding: 0px 0px 0px 0px ;
}

.order_photo {
  border-width: 2px;
  border-color:#522F35;
  border-style: solid;
}

/*訂單BOX內容文字*/
.order_box_txt {
  color:#522F35;
  font-size: 13px;
  padding: 18px 18px 0px 18px;
}

.order_box_txt p {
  text-align: left;
}

.order_box_txt dt {
  text-align: left;
}

.order_box_txt dd {
  text-align: left;
}

/*訂單內容文字*/
.order_total_txt {
  color:#522F35;
  font-size: 16px;
  justify-content: flex-end;
}

.order_total_txt h1 {
  color:#dc4146;
  font-size: 30px;
}

.order_total_txt h3 {
  margin-top: 5px;
}

/*加減數字*/
.qty {
  width: 30px;
  height: 30px;
  text-align: center;
  border: 2px solid #522F35;
}

input.qtyplus {
  color:#ffffff;
  font-size: 12px;
  width: 25px;
  height: 30px;
  border: 2px solid #522F35;
  background: #dc4146;
}

input.qtyminus {
  color:#ffffff;
  font-size: 12px;
  width: 25px;
  height: 30px;
  border: 2px solid #522F35;
  background: #dc4146;
}


/*歷史訂單*/

.old_order_button_1 {
  background-color:#522F35;
  border-width: 5px 5px 5px 5px;
  border-color:#522F35;
  border-style: solid;
  border-radius:14px;
  padding-bottom: 10px;
}

.old_order_button_1:hover {
  border-width: 10px 5px 0px 5px;
}

.contact_button {
  color:#ffffff;
  height:60px;
  border-radius: 10px;
}

/*歷史訂單BOX內容文字*/
.old_order_box_txt {
  color:#522F35;
  font-size: 16px;
  padding: 18px;
}

.old_order_txt {
  background-color:#522F35;
  border-width: 0px 5px 5px 5px;
  border-color:#522F35;
  border-style: solid;
  border-radius:0px 0px 14px 14px;
  padding-bottom: 10px;
}

.old_order_txt_nav {
  color: #ffffff;
  background-color:#522F35;
  border-color:#522F35;
  border-style: solid;
  border-radius: 10px 10px 0px 0px;
  padding: 5px 10px;
  margin: 0px;
}
.old_order_txt_bc {
  color: #522F35;
}

.old_order_txt_bc>thead>tr>td,
.old_order_txt_bc>thead>tr>th,
.old_order_txt_bc>tfoot>tr>td,
.old_order_txt_bc>tfoot>tr>th {
  padding: 0px 0px 0px 0px;
}

.old_order_txt_bc>tbody>tr>td,
.old_order_txt_bc>tbody>tr>th {
  padding: 5px 10px;
}

/*rwd表格*/
.rwd-table {
 background: #ffffff;
 overflow: hidden;
}

.rwd-table tr:nth-of-type(2n){
  border-top: 2px solid #522F35 !important;
  border-bottom: 2px solid #522F35 !important;
}

/*phone*/
.rwd-table th,
.rwd-table td {
  margin: 5px 5px;
}
.rwd-table {
  min-width: 100%;
}

.rwd-table th {
  display: none;
}

.rwd-table td {
  display: block;
}

.rwd-table td:before {
  content: attr(data-th) " : ";
  font-weight: bold;
  width: 6.5em;
  display: inline-block;
}

.rwd-table th,
.rwd-table td {
  text-align: left;
}

.rwd-table th,
.rwd-table td:before {
  color: #522F35;
  font-weight: bold;
  border: 0px solid #522F35 !important;
}

/*web*/
@media (min-width: 768px) {
  .rwd-table td:before {
    display: none;
  }

 .rwd-table th, .rwd-table td {
    display: table-cell;
    padding: 0.25em 0.5em;
  }

  .rwd-table th:first-child,
  .rwd-table td:first-child {

  }

  .rwd-table th:last-child,
  .rwd-table td:last-child {
    padding-right: 0;
  }

  .rwd-table th {
    border: 0px solid #522F35 !important;
  }

  .rwd-table td {
    border: 2px solid #522F35 !important;
  }

  .rwd-table tbody {
    border: 2px solid #522F35 !important;
  }

  .rwd-table tbody tr td {
    border: 2px solid #522F35 !important;
  }
}


/*浮動選單*/

#gotop {
  position: fixed;
  z-index: 20;
  width:41px;
  height:41px;
  opacity: 0.95;
  line-height:40px;
  transition:all 0.3s;
  text-align: center;
  background:#381e1d;
  border-radius:100%;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.20), 0 2px 5px 0 rgba(0,0,0,0.20);
}
#gotop:hover {
  color: #fff;
  background:#dc4146;
}

.gotop {
  font-size:35px ;
  margin: 3px 0px 0 0 ;
}

#shop_cart {
  position: fixed;
  z-index: 30;
  width:60px;
  height:60px;
  opacity: 0.95;
  line-height:40px;
  transition:all 0.3s;
  text-align: center;
  background:#381e1d;
  border-radius:100%;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.20), 0 2px 5px 0 rgba(0,0,0,0.20);
}
#shop_cart:hover {
  color: #fff;
  background:#dc4146;
}

.shop_cart {
  font-size:35px ;
  margin: 13px 2px 0 0 ;
}

#shop_cart_red {
  position: fixed;
  z-index: 31;
  width:12px;
  height:12px;
  margin:0px 0px 0 0;
  opacity: 1;
  line-height:40px;
  transition:all 0.3s;
  text-align: center;
  background:#f00;
  border-radius:100%;
  box-shadow: 0 2px 2px 0 rgba(0,0,0,0.50), 0 2px 2px 0 rgba(0,0,0,0.50);
}

.gotop_web {
  right:35px;
  bottom: 30px;
}

.gotop_phone {
  right:10px;
  bottom: 30px;
}

.shop_cart_web {
  right:35px;
  top: 30px;
}

.shop_cart_phone {
  right:10px;
  bottom: 90px;
}

.shop_cart_phone_red {
  right:8px;
  bottom: 137px;
}


/*排版用*/

.color333 {
  color: #333333;
}

.color522F35 {
  color: #522F35;
}

.color3AAE36 {
  color: #3AAE36;
}

.colorDC4146 {
  color: #DC4146;
}

.font12 {
  font-size: 12px;
}

.font14 {
  font-size: 14px;
}

.font30 {
  font-size: 50px;
  font-weight: bold;
}

dt hr {
  padding:0px 0px 5px 0px;
}

dd hr {
  padding:0px 0px 5px 0px;
}

div a {
  color: #ffffff;
}

.max_150 {
  max-width: 150px;
  max-height: 150px;
}

.min_150 {
  min-width: 150px;
  min-height: 150px;
}

.min_100 {
  min-width: 100px;
  min-height: 100px;
}

.h_center {
  align-items: center;
}

.text-align_left {
  text-align:left;
}

.pa_d-14 {
  padding: 0px 0px 14px 0px ;
}

.Back_icon {
  font-size: 50px;
  top: 8px;
  right: 20px;
  position: absolute;
  opacity: 0.95;
  line-height:40px;
  transition:all 0.3s;
  text-align: center;
}

.Back_icon:hover {
  color: #f6da7d;
}

.Back_icon i {
  z-index: 31;
  text-align: center;
}

.l-15_r-15 {
  margin-right: -20px;
  margin-left: -20px
}

.width-100 {
  width:100%;
}

.min200 {
  min-height:200px;
}

.pa0000{
  padding:0px 0px 0px 0px;
}

.pa0505{
  padding:0px 5px 0px 5px;
}

.pa020020{
  padding:0px 20px 0px 20px;
}

.pa010010{
  padding:0px 10px 0px 10px;
}

.pa0101510{
  padding:0px 10px 15px 10px;
}

.pa030030 {
  padding:0px 40px 30px 40px;
}

.pa05205{
  padding:0px 5px 20px 5px;
}

.pa200200{
  padding:20px 0px 20px 0px;
}

.pa20000{
  padding:20px 0px 0px 0px;
}

.pa100200{
  padding:10px 0px 20px 0px;
}

.pa100100{
  padding:10px 0px 10px 0px;
}

.pa00200{
  padding:0px 0px 20px 0px;
}

.pa_b20{
  padding-bottom: 20px;
}

.pa_b30{
  padding-bottom: 30px;
}

.pa_b40{
  padding-bottom: 40px;
}

.pa00400{
  padding:0px 0px 40px 0px;
}

.pa00600{
  padding:0px 0px 60px 0px;
}

.pa05275{
  padding:0px 5px 27px 5px;
}

.pa10505{
  padding:10px 5px 0px 5px;
}

.pa002010{
  padding:0px 0px 15px 10px;
}

.pa10101010{
  padding:10px 10px 10px 10px;
}

.pa1001010{
  padding:10px 0px 10px 10px;
}

.pa151500 {
  padding:15px 10px 0px 0px;
}

.ma0505 {
  margin:0px 50px 0px 50px;
}

.ma20000 {
  margin:20px 0px 0px 0px;
}

.ma0000 {
  margin: 0 0 0 0;
}

.ma010010 {
  margin: 0 10px 0 10px;
}

.ma052015 {
  margin: 0px 5px 20px 15px;
}

.ma00020 {
  margin: 0px 5px 18px 15px;
}

.ma10101010 {
  margin: 10px 10px 10px 10px;
}

.all_button {
  height:60px;
  border-radius: 0px 0px 10px 10px;
}

.new_button {
  min-height:110px;
  border-radius: 10px;
}

.new_button h1 {
  font-size: 40px;
}

.width-844 {
  max-width: 844px;
  max-height: 450px;
}

/*下方logo*/
.product_pg_bottom_logo {
  max-width: 70px;
}

.button_icon {
  width: 50px;
  margin:10px 5px 20px 5px;
}

.button_top_icon {
  width: 50px;
  height: 54px;
  margin:10px 10px 0px 25px;
}
